Android/.gradle/
Android/.idea/
Android/local.properties
Android/app/src/main/java/me/takinrom/passwordmanager/Properties.java
Android/app/src/main/res/raw/cert.pem
Android/app/src/main/res/raw/key.pem
ESP/include/properties.h
ESP/src/properties.cpp
Server/src/cert.pem
Server/src/config.py
Server/src/key.pem
Server/src/start.sh
Android/app/build/
Server/src/__pycache__/
Server/src/database.db